@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 1%;
    background-color: rgb(252, 251, 249);
}

li, a{
    font-family: karla;
    font-size: 20px;
    color: rgb(64, 133, 224);  
    text-decoration: none;
}

.imgTV{
    display: inline-flex;
    left: 0;
    height: 45px;
}

.navItems{
    list-style: none;
    
}

.navItems li{
    display: inline-block;
    padding: 0 20px;
}

.search{
    padding: 9px 25px;
    height: 10px;
    background-color: rgb(250, 190, 218);
    font-family: karla;
    font-size: 15px;
    font-weight: bold;
    width: 300px;
    color: black;
    cursor: pointer;

}

.imgSearch{
    display: inline-flex;
    
}

/*.submit{
    display: inline-flex;
    width: 25px;
    height: 25px;
    color: white;
}*/

.logout{
  display: inline-flex;
  left: 85%;
  top: 39%;

}

a:hover{
    color: rebeccapurple;
  }