@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    
    background-image: linear-gradient(180deg,rgb(213, 159, 245), rgb(102, 30, 145));
    height: 100%; 
}

.main{
    display: flex;
    justify-content: space-evenly;
}


.film{
    order: 2;
    display: inline-flex;
    height: 800px;
    
    
}
.movieInfo{
    order: 1;
    margin-top: 200px;
    width: 20%;
    display: inline-block;
    font-size: 20px;
    font-family: karla;
    font-weight: 600;
}
strong{
    font-size: 24px;
}

h2{
    background-color: #fff;
    text-align: center;
    margin-top: 60px;
    font-family: karla;
    font-size: 40px;
    color: rgb(64, 133, 224);
}
.related{
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
}
div > img{
    
    position: inline-flex;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 10px;
    

}