@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-image: linear-gradient(180deg,rgb(213, 159, 245), rgb(102, 30, 145));
    height: 100vh;
    
}

h1{
    text-align: center;
    font-family: karla;
    color: rgb(254, 255, 255);
    text-shadow: 1px 1px 2px rgb(180, 111, 219), 0 0 1em rgb(36, 131, 240), 0 0 0.2em rgb(36, 131, 240);
}

h3{
  font-size: 20px;
}

  .imgFilm{
    position: block;
    height: 270px;
  }

  .heart{
    position: relative;
    background-color: rebeccapurple; 
  }
  [type="checkbox"]{display: none;}
 

  .movie{
    background-color: rgb(202, 185, 219);
    height: 420px;
    width: 240px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: 10px;
    position: relative;
    
  }

  .movie-info {
    display: none;
    position: absolute;
    z-index: 15;
    justify-content: center;
    color: black;
    font-weight: 900;
    font-size: 10px;
    opacity: 0;  
  }

  div > span{
    font-size: 1rem;
    color: black;
    padding-top: 10px;
  }

  .movie:hover .movie-info{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    opacity: 0.9;
  }

  a:hover{
    color: rebeccapurple;
  }

  /*Tablets and under*
 @media(max-width: 768px) {

 }

 /*Mobile*/
 @media all and (max-width: 500px){
   .navbar{
     height: 100vw;
     justify-content: flex-start;
   }
   .navItems li{
     display: inline-flex;
   }

   .search{
     margin-top: 10%;
   }
   
   .movie{
     flex-direction: column;
     margin-left: 65px;
     justify-items: center;
   }
 }