@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

body{
    background-color: rgb(161, 107, 216);
    text-align: center;
    width: 100%;
    height: 100%;
}
h1{
    font-family: karla;
    color: lavender;
    font-size: 80px;
}
.loginContainer{
    width: 50%;
    height: 130px;
    margin-left: 200px;
    background-color:lightgray;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 4px 5px 10px rgb(85, 83, 83);
}
.email{
    position: absolute;
    top: 230px;
    left: 300px;
    font-family: karla;
    font-weight: bold;
    color: rebeccapurple;
    font-size: 15px;
    background-color: rgb(214, 181, 233);
    
}
.password{
    position: absolute;
    top: 260px;
    left: 300px;
    font-family: karla;
    font-weight: bold;
    color: rebeccapurple;
    font-size: 15px;
    background-color: rgb(214, 181, 233);
    
}
.submit{
    position: absolute;
    top: 260px;
    left: 470px;
    font-family: karla;
    font-weight: bold;
    color: seashell;
    background-color: rgb(161, 107, 216);

}

a{
    font-family: karla;
    position: absolute;
    top: 300px;
    left: 305px;
}